<!DOCTYPE html>
<html>
<head>
    {% block titulo %}

    {% endblock %}

    <meta charset="UTF-8">
    <meta name="description" content=""/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!-- KICKSTART -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/prettify.js"></script>
    <!-- PRETTIFY -->
    <script type="text/javascript" src="{{ STATIC_URL }}js/kickstart.js"></script>
    <!-- KICKSTART -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/kickstart.css" media="all"/>
    <!-- KICKSTART -->
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mystyle.css" media="all"/>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.countdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/app.js"></script>
    {% block counter %}

    {% endblock %}
</head>
<body>
{% block menu %}
    <div id="header">
        <!-- Menu Horizontal -->
        <ul class="menu">

            <li><a href="{% url vista_principal %}">Principal</a></li>
            <li><a href="{% url vista_registrarse %}">Registro</a></li>
            <li><a href="{% url vista_bases %}">Bases</a></li>
            <li><a href="{%  url vista_equipos %}">Equipos</a></li>
        </ul>
    </div>
{% endblock %}

{% block contenido %}

{% endblock %}

</body>
</html>
